.cadeira{
    width: 25px;
    height: 25px;
    border: 1px solid #aaa;
    text-align: center;
    color: #333;
    padding: 5px;
    margin: 5px;
    float: left;
}

.obeso{
    background-color: #79c400;
}

.pmr{
    background-color: #c508bc;
}

.cadeirante{
    background-color: #db130c;
}