.cadeira{
    border: 1px solid #aaa;
    text-align: center;
    color: #333;
    font-size: 10px;
    margin: 2px;
    flex: auto;
    width: 25px;
    
    &:hover{
        background-color: #bebebe;
        cursor: pointer;
    }
}

.obeso{
    background-color: #79c400;
    width: 57px;
}

.pmr{
    background-color: #c508bc;
}

.cadeirante{
    background-color: #db130c;
}